<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition >
    <h:messages id="messages" showDetail="true"/>
	<p:panelGrid id="presence" border="1" columns="2" cellpadding="5">	
		<p:outputLabel for="login" value="login:" />
		<p:inputText id="login" required="true" requiredMessage="login" value="#{employeBean.employe.login}" > 	
		</p:inputText>
		<p:outputLabel for="email" value="Email:" />
		
		<p:inputText id="email" required="true" label="email" size="40"
		requiredMessage="Please enter email employe."
		validatorMessage="Invalid email format"
		value="#{employeBean.employe.adresse.email}">
	      <f:validateRegex
	        	pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

	   </p:inputText>	
		<p:outputLabel for="nom" requiredMessage="Nom." value="Nom:" />
		<p:inputText id="nom" value="#{employeBean.employe.nom}" > 	
		</p:inputText>
		<p:outputLabel for="prenom" requiredMessage="Prenom." value="Prenom:" />
		<p:inputText id="prenom" value="#{employeBean.employe.prenom}" > 	
		</p:inputText>
		<p:outputLabel for="tel" requiredMessage="Telephone." value="telephone:" />
		<p:inputText id="tel" value="#{employeBean.employe.adresse.telephone}" > 	
		</p:inputText>
		<p:outputLabel for="dateEmbauche" value="Date Embauche:" />
        <p:calendar id="dateEmbauche" label="date" value="#{employeBean.employe.dateEmbauche}" pattern="dd-MM-yyyy" mask="false" />
	     <p:outputLabel for="pwd"  value="password:" />
		<p:inputText id="pwd" value="#{employeBean.employe.password}" > 	
		</p:inputText>
		<p:outputLabel for="poste" requiredMessage="Poste." value="poste:" />
		<p:spinner id="poste" value="#{employeBean.employe.poste}" min="0" > 	
		</p:spinner>
		<p:outputLabel for="categorie" requiredMessage="Categorie." value="categorie:" />
		<p:spinner id="categorie" value="#{employeBean.employe.categorie}" min="0" > 	
		</p:spinner>
		<p:outputLabel for="salaire" requiredMessage="salaire." value="salaire:" />
		<p:spinner id="salaire" value="#{employeBean.employe.salaire}" min="0" > 	
		</p:spinner>
        <p:remoteCommand name="ajout" update="msgs" actionListener="#{presenceBean.execute}" />
        <p:growl id="msgs" showDetail="true" />
        
       
        <p:commandButton type="button"   value="Annuler" action="#" icon="ui-icon-refresh">
            <f:ajax execute="employe" render="employe employes messages" />
        </p:commandButton>
        <p:commandButton type="button" onclick="ajout()"  value="enregistrer" action="#{employeBean.save}" icon="ui-icon-check">
            <f:ajax execute="employe" render="employe employes messages" />
        </p:commandButton>
    </p:panelGrid>
</ui:composition>

</html>