<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/template/templateDRH.xhtml">
	<ui:define name="content">
		<h:form>
		 <ui:include src="/employe/_tabpresenceconsulation.xhtml" />
	 </h:form>
	</ui:define>
</ui:composition>
</html>