<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:x_rt="http://java.sun.com/jstl/xml_rt"
	xmlns:c_rt="http://java.sun.com/jstl/core_rt"
	xmlns:pm="http://primefaces.org/ui">

<ui:composition>
	<pm:dataTable id="infos" var="e" value="#{employeBean.employe}">

		<f:facet name="{Exporters}">
			<pm:spacer height="20" />
			<h:commandLink>
				<pm:graphicImage name="/images/pdf.png" />
				<pm:dataExporter type="pdf" target="infos"
					fileName="list_clients_pdf" />
			</h:commandLink>

		</f:facet>
		<pm:column>
			<f:facet name="header">
				<h:outputText value="Matricule" />
			</f:facet>
			<h:outputText value="#{e.matricule}" />
		</pm:column>
		<pm:column>
			<f:facet name="header">
				<h:outputText value="Nom" />
			</f:facet>
			<h:outputText value="#{e.nom}" />
		</pm:column>
		<pm:column>
			<f:facet name="header">
				<h:outputText value="Prenom" />
			</f:facet>
			<h:outputText value="#{e.prenom}" />
		</pm:column>
		<pm:column>
			<f:facet name="header">
				<h:outputText value="date Embauchement" />
			</f:facet>
			<h:outputText value="#{e.dateEmbauche}" />
		</pm:column>
		<pm:column>
			<f:facet name="header">
				<h:outputText value="salaire" />
			</f:facet>
			<h:outputText value="#{e.salaire}" />
		</pm:column>
		<pm:column>
			<f:facet name="header">
				<h:outputText value="taux Occupation(h/J)" />
			</f:facet>
			<h:outputText value="#{e.tauxOccupation}" />
		</pm:column>
		<pm:column>
			<f:facet name="header">
				<h:outputText value="Poste" />
			</f:facet>
			<h:outputText value="#{e.poste.poste}" />
		</pm:column>
		<pm:column>
			<f:facet name="header">
				<h:outputText value="Volume Limite Absence(H)" />
			</f:facet>
			<h:outputText value="#{e.volumeLimiteAbsence}" />
		</pm:column>
	</pm:dataTable>

</ui:composition>
</html>