<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://java.sun.com/jsf/core"
	xmlns:pm="http://primefaces.org/ui">

<ui:composition>
<pm:dataTable id="employes" var="empl" value="#{employeBean.employes}"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                 paginator="true" rows="5" style="margin-bottom:40px">
                  
      <f:facet name="{Exporters}">
            <pm:spacer height="20"/> 
            <h:commandLink>
                <pm:graphicImage  name="/images/pdf.png" />
                <pm:dataExporter type="pdf" target="employes" fileName="list_employes_pdf"/>
            </h:commandLink>
           
        </f:facet>
         <pm:column>
            <f:facet name="header">
                <h:outputText value="login" /> 
            </f:facet>
            <h:outputText value="#{empl.login}" />
        </pm:column>
    <pm:column>
            <f:facet name="header">
                <h:outputText value="Email" />
            </f:facet>
            <h:outputText value="#{empl.adresse.email}" />
        </pm:column>
        <pm:column>
            <f:facet name="header">
                <h:outputText value="Nom" />
            </f:facet>
            <h:outputText value="#{empl.nom}" />
        </pm:column>
        <pm:column>
            <f:facet name="header">
                <h:outputText value="Prenom" />
            </f:facet>
            <h:outputText value="#{empl.prenom}" />
        </pm:column>
         <pm:column>
            <f:facet name="header">
                <h:outputText value="Poste" />
            </f:facet>
            <h:outputText value="#{empl.poste.poste}" />
        </pm:column>
         
        <pm:column>
            <f:facet name="header">
                <h:outputText value="Salaire" />
            </f:facet>
            <h:outputText value="#{empl.salaire}" />
        </pm:column>
	<pm:column exportable="false">
		<f:facet name="header">
			<h:outputText value="Actions"></h:outputText>
		</f:facet>
		 <h:commandButton value="supprimer" action="#{employeBean.delete(employeBean.employe)}">
			<f:setPropertyActionListener target="#{employeBean.employe}" value="#{empl}" />
         </h:commandButton>
         <h:commandButton value="modifier" action="#{employeBean.update}">
			<f:setPropertyActionListener target="#{employeBean.employe}" value="#{empl}" />
           	<f:ajax execute="@this" render="@form" />
         </h:commandButton>
        
	</pm:column>
</pm:dataTable>

</ui:composition>
</html>