<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
<ui:composition template="/template/templateDRH.xhtml">
	<ui:define name="content">
		<h:form>
		<div align="center">
		<ui:include src="/employe/_employe.xhtml" />
		</div>
		<br />
		 <ui:include src="/employe/_tabemploye.xhtml" />
	 </h:form>
	</ui:define>
</ui:composition>

</html>