/* 
Document   : style
Created on : 07.23.2017
Author     : cheikhna rim
Description:
*/

/* Formulaires */
#formulaire {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 150px;
	margin-left: -700px; /* -largeur/2 */
	margin-top: -500px; /* -hauteur/2 */
	background: red;
}

#connexionForm {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 250px;
	margin-left: -175px; /* -largeur/2 */
	margin-top: -100px; /* -hauteur/2 */
	/*background: red;*/
	font-color: #82b4ec;
}

/* Panel */
.panelSansBordure tr, .panelSansBordure td {
	border: none;
}

/* Tableau */
.columnCenter {
	text-align: center;
}

.titreLogin {
	font-size: 25px;
	font-weight: bold;
	text-align: right;
}

.lien {
	font-size: 14px;
	text-decoration: none;
}