<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="title">Time Manager</ui:insert></title>
	<h:outputStylesheet name="styles.css" library="css" />
</h:head>


<h:body>
	<div id="main_container">
		<div id="header">
			<div id="logo">
			    <p:graphicImage name="images/logoActuel.jpg" alt="" title="" border="0" />
			   </div>
						<div id="menu">
                              <ul>
								<li><a class="current" href="#" title="">Home</a></li>
								 <li><h:form>
										<h:commandLink
											action="#{employeBean.infosPerso(loginBean.user)}"
											value="Informations Personnels" />
									</h:form></li>
								<li><h:form>
										<h:commandLink action="#{employeBean.listPresences(loginBean.user)}"
											value="Mes Presences" />
									</h:form></li>
								<li><h:form>
										<h:commandLink action="#" value="Absences" />
									</h:form></li>
								<li><h:form>
										<h:commandLink action="#" value="Activites" />
									</h:form></li>
								<li class="active"><h:form>
										<h:commandLink action="#{loginBean.deconnexion}" value="Deconnexion" />
									</h:form></li>
							</ul>
			</div>
					</div>
			
       <div class="green_box">
                <ui:insert name="content">
								<h2>Body</h2>
				</ui:insert> 
       </div><!--end of green box-->
       
       <div id="main_content">
    	<div id="left_content">
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2><h2></h2><h2></h2><h2></h2>
    	<h2></h2><h2></h2><h2></h2><h2></h2><h2></h2>
        <h2>Gestion de Temps</h2>   
        <div id="left_nav">
            <ul>                                        
                <li><a href="#" title="">Gestion des Présences</a></li>
                <li><a href="#" title="">Gestion des Activités</a></li>
                <li><a href="#" title="">Gestion des Absences</a></li>
                <li><a href="#" title="">Gestion des Congés</a></li>
            </ul>
        </div>
         <div class="read_more_link"><a href="#">read more</a></div>
         
         </div><!--end of left content-->
         <div id="right_content">
         <h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2>
    	<h2></h2><h2></h2><h2></h2><h2></h2>
    	<h2></h2><h2></h2><h2></h2><h2></h2><h2></h2>
        <h2>Gestion Statistiques</h2>
        	<div class="products_box">
        	   <p:graphicImage name="images/box_icon.gif" alt="" title="" class="box_img"  />
               <h3>Taux d'Absentéisme et Activités</h3>  	          
                <div class="read_more_link"><a href="#">read more</a></div>
            </div>
            <div class="products_box">
             <p:graphicImage name="images/box_icon.gif" alt="" title="" class="box_img"  />
			  <h3>Temps passés en Voyage</h3>             
            <div class="read_more_link"><a href="#">read more</a></div>
            </div>
           <div class="contact_information">
            <h4>Mes Contacts</h4>
            <p>
            <p:graphicImage name="images/phone_icon.gif" alt="" title="" class="box_img"  />
             +221 77 395 56 93<br/>
            </p>
            <br/><br/>
            <p>
             <p:graphicImage name="images/contact_icon.gif" alt="" title="" class="box_img"  />
               cheiknarim@esp.sn
            </p>            
            
            </div>
            
            </div><!--end of right content-->
            
         <div style=" clear:both;"></div>
    </div><!--end of main content-->
        <div id="footer">
     	<div class="copyright">
         <a href="home.html">
          <p:graphicImage name="images/left_nav_arrow.gif" alt="" title="" border="0" />
          </a>
        </div>
    	<div class="footer_links"> 
        <a href="#">About us</a>
         <a href="privacy.html">cheikhna rim</a> 
        <a href="contact.html">Contact us </a>
       
        </div>
    
    
    </div>  
 
   

    </div> <!--end of main container-->
 
  </h:body>
</html>
