<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="projetjee_ear">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="projetjee_ejb.jar" deploy-path="/" handle="module:/resource/projetjee_ejb/projetjee_ejb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="projetjee_web_JSF.war" deploy-path="/" handle="module:/resource/projetjee_web_JSF/projetjee_web_JSF">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
