<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template/templateDRH.xhtml">
	<ui:define name="content">
		<h1>
			Bienvenue le DRH
			<h:outputText value="#{loginBean.user}  sur votre page d'accueil ---  ">
			</h:outputText>
		</h1>
		<h1></h1>
		<h2>
			<h:outputText value=" -- il est : #{date}">
			</h:outputText>
		</h2>
	</ui:define>
</ui:composition>
</html>
